*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg.png);
    color: #333;
    font-size: 100%;
    line-height: 1.25;
}

section {
    padding: 0em 3% 4em;
    text-align: center;
    font-size: 1.5em;
}

/** =========================================================================
    Splash
    ========================================================================= */

/*.splash {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    -webkit-animation: splash-out .5s 1s ease-out forwards;
    z-index: 1;
}

@-webkit-keyframes splash-out {
    to { opacity: 0; }
}

.yeoman-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -200px;
    -webkit-animation: splash-in .3s .2s ease-out forwards;
}

@-webkit-keyframes splash-in {
    to { margin-top: -225px; }
}

*/
